<%= form_for(@jogador) do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>
    </div>
  </div>
  <br>
  <div class="field">
    <%= f.label :ativo %><br>
    <%= f.check_box :ativo, checked: true %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-default' %>
    <%= link_to 'Voltar', jogadores_path, class: 'btn btn-default' %>
  </div>
<% end %>
