<script type="text/javascript">
	$(document).ready(function() {
        $('#artilharia').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Gráfico da Artilharia'
            },
            subtitle: {
                text: 'Primeiros 5 jogadores com maior saldo de gols.'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Gols'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Total: <b>{point.y:.f} gols</b>'
            },
            series: [{
                name: 'Population',
                data: <%= raw @dados %>,
                dataLabels: {
                    enabled: true,
                    rotation: 360,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });

        $('#contabilidade').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Gráfico do Financeiro'
            },
            tooltip: {
                pointFormat: '{series.name} (R$): <b>{point.y:.f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name} (R$)</b>: {point.y:.f}'
                    }
                }
            },
            series: [{
                name: 'Valor (R$)',
                colorByPoint: true,
                data: [{
                    name: 'Crédito',
                    y: <%= raw Jogo.credito %>,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Débito',
                    y: <%= raw Jogo.debito %>
                }]
            }]
        });
	});
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-money"></i> Contabilidade</h3>
  </div>
  <div class="panel-body text-center">
    <div class="row">
        <div class="col-md-2">
            <h4><b>Crédito</b></h4>
            <h3 style="color: green;"><%= number_to_currency(Jogo.credito) if Jogo.credito? %></h3>
        </div>
        <div class="col-md-2">
            <br>
            <h3><b>-</b></h3>
        </div>
        <div class="col-md-2">
            <h4><b>Débito</b></h4>
            <h3 style="color: red;"><%= number_to_currency(Jogo.debito) if Jogo.debito? %></h3>
        </div>
        <div class="col-md-2">
            <br>
            <h3><b>=</b></h3>
        </div>
        <div class="col-md-2">
            <h4><b>Saldo</b></h4>
            <h3><%= number_to_currency(Jogo.saldo) if Jogo.saldo? %></h3>
        </div>
    </div>
  </div>
</div>

<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-users"></i> Artilheiros</h3>
  </div>
  <div class="panel-body text-center">
    <div id="artilharia"></div>
  </div>
</div>
<%# <br>
<div id="contabilidade"></div> %>
