<div class="modal fade" id="sumula" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adicionar Súmula do Jogo - <%= Jogo.find(params[:jogo_id]).dia.strftime('%d/%m/%Y') %></h4>
      </div>
      <div class="modal-body">
        <%= form_for('frm', :url => {controller: :jogos, action: :adicionar_sumula}) do |f| %>
    			<%= f.hidden_field :jogo_id, :value => params[:jogo_id] %>
        	<div class="row">
        		<div class="col-md-12">
        			<%= f.label :sumula, "Link da Súmula" %>
        			<%= f.text_field :sumula, class: 'form-control' %>
        		</div>
        	</div>
        	<br>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		        <%= f.submit 'Adicionar', class: 'btn btn-default' %>
		      </div>
        <% end %>
      </div>
    </div>
  </div>
</div>