<script type="text/javascript">
  $(document).ready(function() {
    $('#jogo_dia').mask('99/99/9999');
  });
</script>

<%= form_for(@jogo) do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :dia %><br>
      <%= f.text_field :dia, value: Time.now.strftime('%d%m%Y'), class: 'form-control' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :tipo_jogo, "Tipo de Jogo" %><br>
      <%= f.select :tipo_jogo, ['Amistoso', 'Campeonato', 'Racha'], {:prompt => 'Selecione'}, {:class => 'form-control'} %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-default' %>
    <%= link_to 'Voltar', jogos_path, class: 'btn btn-default' %>
  </div>
<% end %>